.wrap-lead-content {
  margin: 50px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(194, 252, 252);
}
.content-wrap-button-start-stop button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(129, 192, 247);
}
.content-wrap-button-start-stop button :active {
  background-color: red;
}
.content-block-game {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 650px;
  display: grid;
  grid-template-columns: 520px, 100px;
  background-color: bisque;
}
.content-wrap-one-number {
  width: 520px;
  padding: 20px;
  /* height: 100px; */
  /* display: grid;
  grid-template-columns: repeat(10, 1fr); */
  /* gap: 10px; */
  background-color: rgb(242, 192, 255);
}
.content-one-number {
  /* max-width: 50px; */
  /* width: 50px;
  height: 50px; */
  /* font-size: 40px; */

  height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.content-wrap-one-cell {
  grid-column: 1;
  width: 520px;
  padding: 20px;
  /* display: grid;
  grid-template-columns: repeat(10, 1fr); */
  gap: 10px;
  background-color: rgb(190, 190, 245);
}
.content-one-cell {
  /* width: 50px; */
  margin: 0;
  height: 50px;
  border: 1px solid black;
}
.content-wrap-div-img-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content-one-cell img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  /* width: 50%; */
  /* height: 20%; */
}

.content-wrap-one-letters {
  grid-column: 2;
  padding: 20px;
  background-color: aqua;
}
.content-one-letter {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: 1px solid black;
}
